doctype html
html(lang="en")
   head
      meta(charset="UTF-8")
      meta(http-equiv="X-UA-Compatible", content="IE=edge")
      meta(name="viewport", content="width=device-width, initial-scale=1.0")
      title Project tracking intro component
      //- Favicons
      link(rel="apple-touch-icon", sizes="57x57", href="assets/favicons/apple-icon-57x57.png")
      link(rel="apple-touch-icon", sizes="60x60", href="assets/favicons/apple-icon-60x60.png")
      link(rel="apple-touch-icon", sizes="72x72", href="assets/favicons/apple-icon-72x72.png")
      link(rel="apple-touch-icon", sizes="76x76", href="assets/favicons/apple-icon-76x76.png")
      link(rel="apple-touch-icon", sizes="114x114", href="assets/favicons/apple-icon-114x114.png")
      link(rel="apple-touch-icon", sizes="120x120", href="assets/favicons/apple-icon-120x120.png")
      link(rel="apple-touch-icon", sizes="144x144", href="assets/favicons/apple-icon-144x144.png")
      link(rel="apple-touch-icon", sizes="152x152", href="assets/favicons/apple-icon-152x152.png")
      link(rel="apple-touch-icon", sizes="180x180", href="assets/favicons/apple-icon-180x180.png")
      link(rel="icon" type="image/png", sizes="192x192",  href="assets/favicons/android-icon-192x192.png")
      link(rel="icon" type="image/png", sizes="32x32", href="assets/favicons/favicon-32x32.png")
      link(rel="icon" type="image/png", sizes="96x96", href="assets/favicons/favicon-96x96.png")
      link(rel="icon" type="image/png", sizes="16x16", href="assets/favicons/favicon-16x16.png")
      link(rel="manifest" href="assets/favicons/manifest.json")
      meta(name="msapplication-TileColor", content="#ffffff")
      meta(name="msapplication-TileImage", content="/ms-icon-144x144.png")
      meta(name="theme-color", content="#ffffff")
      //- CSS
      link(rel="stylesheet", href="css/styles.css")
      //- Fonts
      link(rel="preconnect", href="https://fonts.gstatic.com")
      //- Barlow Condensed, Barlow
      link(href="https://fonts.googleapis.com/css2?family=Barlow&family=Barlow+Condensed:wght@400;700&display=swap", rel="stylesheet")
   body
      header.header 
         .top-bar
            img.top-bar__logo(src="assets/img/logo.svg", alt="logo")
            .icon-menu#menu-icon
               .icon-menu__bar
         nav
            ul.menu#main-menu
               li.menu__item
                  a.menu__link Product
               li.menu__item 
                  a.menu__link Features
               li.menu__item 
                  a.menu__link Pricing
               li.menu__item.menu__item--light
                  a.menu__link Login
      main.main 
         .main__illustration 
         article.card 
            .card__top
               p.card__new New
               p.card__dashboard Monograph Dashboard
            h1.card__title
               |Powerful insights 
               br
               |into your team
            p.card__text 
               |Project planning and time tracking 
               br
               |for agile teams
            .card__footer
               a.card__demo(href="#") Schedule a demo
               a.card__preview(href="#") to see a live preview
      script(src="js/scripts-min.js") 